@font-face {
  font-family: 'luckycart';
  src:  url('../fonts/luckycart.eot?c3wthp');
  src:  url('../fonts/luckycart.eot?c3wthp#iefix') format('embedded-opentype'),
    url('../fonts/luckycart.ttf?c3wthp') format('truetype'),
    url('../fonts/luckycart.woff?c3wthp') format('woff'),
    url('../fonts/luckycart.svg?c3wthp#luckycart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.admin__menu .item-luckycart-menu.level-0 > a:before {
    font-family: 'luckycart';
    content: "\e900";
    
}