<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<luckycart>
			<general>
				<enable/>
				<api_key/>
				<api_secret/>
			</general>
			<fields>
				<brand/>
			</fields>
		</luckycart>
	</default>
</config>
