<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<luckycart>
			<general>
				<enable>1</enable>
			</general>
			<api>
				<key/>
				<secret/>
			</api>						
			<select>
				<brand>manufacturer</brand>
			</select>
			<fields>
				<invoice_country/>
				<optin/>
				<email/>
				<payment_method/>
				<firstname/>
				<lastname/>
				<discount_code/>
				<lang/>
				<store_id/>
				<title/>
				<new_customer/>
				<shipping/>
				<discount/>
				<group/>
				<age/>
				<address/>
				<postcode/>
				<total_amount/>
				<orders_count/>
				<order_status/>
				<ip_address/>
			</fields>
			<cancelation>
				<status>fraud,closed,canceled,holded</status>
			</cancelation>
		</luckycart>
	</default>
</config>
