<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<api_settings>
			<settings>
				<enable/>
				<api_key/>
				<api_secret/>
			</settings>
		</api_settings>
		<fields>
			<brand>
				<brand/>
			</brand>
			<fields>
				<invoice_country/>
			</fields>
		</fields>
	</default>
</config>
