<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_state_change_before">
		<observer instance="Yuukoo\Luckycart\Observer\Sales\OrderStateChangeBefore" name="yuukoo_luckycart_observer_sales_order_state_change_before"/>
	</event>
</config>
