<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="luckycart" sortOrder="999" translate="label">
			<label>luckycart</label>
		</tab>
		<section id="luckycart" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Settings</label>
			<tab>luckycart</tab>
			<resource>Yuukoo_Luckycart::config_yuukoo_luckycart</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>API Key</label>
					<comment/>
				</field>
				<field id="secret" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="obscure">
					<label>API Secret</label>
					<comment/>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<config_path>luckycart/api/secret</config_path>
				</field>
				<field id="brand" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Brand</label>
					<comment/>
					<source_model>Yuukoo\Luckycart\Model\Config\Source\ProductAttributes</source_model>
				</field>
			</group>
			<group id="fields" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label">
				<label>Fields</label>
				<field id="invoice_country" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="101" translate="label" type="select">
					<label>Invoice country</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="optin" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="102" translate="label" type="select">
					<label>OptIn</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="email" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="103" translate="label" type="select">
					<label>Email</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="payment_method" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="104" translate="label" type="select">
					<label>Payment method</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="firstname" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="105" translate="label" type="select">
					<label>Firstname</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="lastname" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="106" translate="label" type="select">
					<label>Lastname</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="discount_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="107" translate="label" type="select">
					<label>Discount code</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="lang" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="108" translate="label" type="select">
					<label>Lang</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="store_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="109" translate="label" type="select">
					<label>Store ID</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="select">
					<label>Title (Gender)</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="new_customer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="111" translate="label" type="select">
					<label>New customer</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="shipping" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="112" translate="label" type="select">
					<label>Shipping</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="discount" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="113" translate="label" type="select">
					<label>Discount</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="group" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="114" translate="label" type="select">
					<label>Group</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="age" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="115" translate="label" type="select">
					<label>Age</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="address" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="116" translate="label" type="select">
					<label>Address</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="postcode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="117" translate="label" type="select">
					<label>Zip</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="total_amount" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="118" translate="label" type="select">
					<label>Total Amount(inc. VAT)</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="orders_count" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="119" translate="label" type="select">
					<label>Total orders</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="select">
					<label>Order status</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="ip_address" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="121" translate="label" type="select">
					<label>IP address</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			<group id="cancellation" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label">
				<label>Cancellation</label>
				<field id="status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="multiselect">
					<label>Targeted status</label>
					<comment>Choose Order status that will cancel game</comment>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
			</group>
		</section>		
	</system>
</config>
